.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.nav-item {
    margin-left: 14px;
}

.nav-link {
    font-size: 14px;
}

.card {
    border: none;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0;
}

.btn {
    background-color: #29a3a3;
    border-color: #29a3a3;
}

.btn-second {
    right: 0px;
    position: absolute;
    color: #29a3a3;
    font-weight: lighter;
    background: none;
    border: none;
    margin-left: auto;
}
.w-100{
    align-items: center;
    justify-content: center;
}

.card-subtitle {
    margin-top: -20px;
    display: flex;
    font-size: 20px;
    font-color: #a6a6a6;

}
